@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box-div {
    @apply flex items-center justify-between px-2 border w-[55%] border-dark-outline rounded-lg py-1 mt-5 cursor-pointer transition duration-300 ease-in-out;
  }
}
.box-div:hover {
  background: hsl(270, 5%, 23%);
}
.active-link {
  color: hsl(258, 100%, 87%);
  position: relative;
  border-bottom: 2px solid hsl(258, 100%, 87%);
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}
